@model IEnumerable<DepartmentViewModel>
@{
    ViewData["Title"] = "Departments";
}


<h1>All Departments</h1>
<br />
<br />
<a asp-controller="Department" asp-action="Create" class="btn btn-primary">Create New Department</a>
<br />


<div class="row justify-content-center align-items-center my-3">

    <form asp-action="Index" class="row form-group col-8 offset-2">
        <div class="col-8">
            <input type="text" class="form-control" name="SearchInp" placeholder="Search By Name" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>

</div>


@if (Model.Count() > 0)
{
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(D => D.Code)</th>
                <th scope="col">@Html.DisplayNameFor(D => D.Name)</th>
                <th scope="col">@Html.DisplayNameFor(D => D.DateOfCreation)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <th scope="row">@department.Code</th>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>

                    <partial name="_ButtonsPartial" model="@department.Id"/>

                </tr>

            }

        </tbody>
    </table>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There Is No Department ):</h3>
    </div>
}
